@import "tailwindcss";

:root {
  --color-primary: #c5ff41;
  --color-secondary: #c5ffee;
  --color-color-100: #fff;
  --color-color-200: #e4e4e4;
  --color-color-300: #b8b8b8;
  --color-color-400: #b2b2b2;
  --color-color-500: #757575;
  --color-color-600: #666;
  --color-color-700: #292d32;
  --color-color-800: #141414;
  --color-color-900: #000;
}

@theme inline {
  --color-primary: #c5ff41;
  --color-secondary: #c5ffee;
  --color-color-100: #fff;
  --color-color-200: #e4e4e4;
  --color-color-300: #b8b8b8;
  --color-color-400: #b2b2b2;
  --color-color-500: #757575;
  --color-color-600: #666;
  --color-color-700: #292d32;
  --color-color-800: #141414;
  --color-color-900: #000;

  --font-sans: var(--font-sporting-grotesque);

  --spacing-15: 3.75rem;
  --spacing-3_75: 0.9375rem;
  --spacing-13_5: 3.375rem;
  --spacing-15: 3.75rem;
  --spacing-5_5xl: 70.25rem;
  --spacing-8xl: 87rem;

  --radius-3_5xl: 1.875rem;

  --text-h1: 4.875rem;
  --text-h1--line-height: 7.875rem;
  --text-h1--letter-spacing: -0.14625rem;
  --text-h1--font-weight: 700;

  --text-h2: 4rem;
  --text-h2--line-height: 4rem;
  --text-h2--letter-spacing: -0.14625rem;
  --text-h2--font-weight: 700;

  --text-h3: 3.625rem;
  --text-h3--line-height: 5.375rem;
  --text-h3--letter-spacing: 0.10875rem;
  --text-h3--font-weight: 700;

  --text-h4: 1.625rem;
  --text-h4--line-height: 2.125rem;
  --text-h4--letter-spacing: 0;
  --text-h4--font-weight: 700;

  --text-h5: 1.625rem;
}

body {
  font-family: var(--font-sporting-grotesque);
  background: var(--color-color-100);
  color: var(--color-color-900);
}
