@import "tailwindcss";

:root {
  --color-primary: #c5ff41;
  --color-secondary: #c5ffee;
  --color-grey-100: #fff;
  --color-grey-200: #e4e4e4;
  --color-grey-300: #b8b8b8;
  --color-grey-400: #757575;
  --color-grey-700: #292d32;
  --color-grey-800: #141414;
  --color-grey-900: #000;

  --color-on-primary: var(--color-grey-100);
  --color-on-secondary: var(--color-grey-900);
  --color-background-1: var(--color-grey-100);
  --color-background-2: var(--color-grey-800);
  --color-background-3: var(--color-grey-900);
  --color-on-background: var(--color-grey-100);
  --color-on-background-1: var(--color-grey-100);
  --color-card-1: var(--color-grey-800);
  --color-card-2: var(--color-grey-900);
  --color-on-card-1: var(--color-grey-100);
  --color-on-card-2: var(--color-grey-400);

  --color-foreground: var(--text-grey-900);
  --color-foreground-inverse: var(--text-grey-100);
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-grey-100);
  --color-secondary: var(--color-secondary);
  --color-on-secondary: var(--color-grey-900);
  --color-background-1: var(--color-grey-100);
  --color-background-2: var(--color-grey-800);
  --color-background-3: var(--color-grey-900);
  --color-on-background: var(--color-grey-100);
  --color-on-background-1: var(--color-grey-100);
  --color-card-1: var(--color-grey-800);
  --color-card-2: var(--color-grey-900);
  --color-on-card-1: var(--color-grey-100);
  --color-on-card-2: var(--color-grey-400);
  --color-border: var(--color-grey-400);

  --color-foreground: var(--text-grey-900);
  --color-foreground-inverse: var(--text-grey-100);

  --font-sans: var(--font-sporting-grotesque);

  --spacing-15: 3.75rem;
  --spacing-3_75: 0.9375rem;
  --spacing-5_5xl: 70.25rem;
  --spacing-8xl: 87rem;

  --radius-3_5xl: 1.875rem;

  --text-h1: 4.875rem;
  --text-h1--line-height: 7.875rem;
  --text-h1--letter-spacing: -0.14625rem;
  --text-h1--font-weight: 700;

  --text-h2: 4rem;
  --text-h2--line-height: 4rem;
  --text-h2--letter-spacing: -0.14625rem;
  --text-h2--font-weight: 700;

  --text-h3: 3.625rem;
  --text-h3--line-height: 5.375rem;
  --text-h3--letter-spacing: 0.10875rem;
  --text-h3--font-weight: 700;

  --text-h4: 1.625rem;
  --text-h4--line-height: 2.125rem;
  --text-h4--letter-spacing: 0;
  --text-h4--font-weight: 700;

  --text-h5: 1.625rem;
}

body {
  font-family: var(--font-sporting-grotesque);
  background: var(--color-background-1);
  color: var(--color-foreground);
}
